.navbar {
    background-color: #0A1612;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 12fr;
 }
 .navbarList {
    font-size: 20px;
    padding: 20px;
    color: rgb(33, 24, 165);
    font-weight: bold;
 }