.navbar {
  background-color: #0A1612;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 12fr;
}
.navbarList {
  font-size: 20px;
  padding: 20px;
  color: rgb(33, 24, 165);
  font-weight: bold;
}
#posts {
  margin-top: 20px;
  background: navy;
  width: 60%;
  margin-left: 30px;
  color : whitesmoke;
  padding: 20px;
  
}
#eachpost{
  background: blue;
  padding: 20px;


}